<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.metanova.cashgoal">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".controllers.activities.MetaActivity"
                android:label="@string/title_activity_meta">
        </activity>
        <activity
                android:name=".controllers.activities.UsuarioActivity"
                android:label="@string/title_activity_usuario">
        </activity>
        <activity
                android:name=".controllers.activities.CalendarioActivity"
                android:label="@string/title_activity_calendario">
        </activity>
        <activity
                android:name=".controllers.activities.CrearEgresoActivity"
                android:label="@string/title_activity_crear_egreso">
        </activity>
        <activity
                android:name=".controllers.activities.CrearIngresoActivity"
                android:label="@string/title_activity_crear_ingreso">
        </activity>
        <activity
                android:name=".controllers.activities.TipoEgresoActivity"
                android:label="@string/title_activity_tipo_egreso"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".controllers.activities.TIpoIngresoActivity"
                android:label="@string/title_activity_tipo_ingreso"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".controllers.activities.MainActivity"
                android:label="@string/title_activity_main">
        </activity>
        <activity android:name=".controllers.activities.RegisterActivity">
        </activity>
        <activity android:name=".controllers.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>